assignment1/contact.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contact">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="company"/>
              <xs:element name="phone">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="phoneType" name="mobile"/>
                    <xs:element type="phoneType" name="home"/>
                    <xs:element type="phoneType" name="office"/>
                    <xsd:simpleType name="phoneType">
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[0-9]{3}-[0-9]{7}"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="emailAddress" name="email"/>
              <xsd:simpleType name="emailAddress"> 
                <xsd:restriction base="xsd:string"> 
                  <xsd:pattern value="[^@]+@[^\.]+\..+"/> 
                </xsd:restriction> 
              </xsd:simpleType> 
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>